/* ------------------------------ Light Mode ------------------------------ */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #cde3fc;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    margin: auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 28px;
}

h4 {
    text-align: right;
    margin-top: 0px;
    color: #878787;
}

a {
    text-decoration: none;
}



/* ---------- Form ---------- */

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

input[type="text"], input[type="password"] {
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    color: #000000;
}

input[type="text"], input[type="email"], input[type="date"], input[type="file"] {
    padding: 4px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    width: 310px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005fc4;
}



/* ---------- Frame Foto ---------- */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.gallery-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.gallery-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

.gallery-info {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}

.gallery-item .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin-top: 10px;
    padding: 0 0px;
    width: 100%;
}

.img-detail {
    width : 100%;
    max-width : 800;
    border-radius: 8px;
}



/* ---------- Button ---------- */

.btn-tambah {
    background-color: #e0ffe0;
    color: #28a745;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-tambah:hover {
    background-color: #ccffcc;
}

.btn-logout {
    background-color: #ffe0e0;
    color: #d9534f;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #ffcccc;
}

.btn-detail, .btn-edit, .btn-delete {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

a.back {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

.btn-detail, a.back {
    background-color: #e0eaff;
    color: #007bff;
}

.btn-detail:hover, a.back:hover {
    background-color: #c8daff;
}

.btn-edit {
    background-color: #e0ffe0;
    color: #28a745;
}

.btn-edit:hover {
    background-color: #ccffcc;
}

.btn-delete {
    background-color: #ffe0e0;
    color: #dc3545;
}

.btn-delete:hover {
    background-color: #ffcccc;
}



/* ------------------------------ Dark Mode ------------------------------ */

/* body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #181818;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container {
    background-color: #020101;
    padding: 30px;
    margin: auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 28px;
}

h4 {
    text-align: right;
    margin-top: 0px;
    color: #878787;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}

label {
    color: #ffffff;
}

form {
    color: #000000;
} */



/* ---------- Form ---------- */

/* form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

input[type="text"], input[type="password"] {
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    background-color: #000000;
    color: #ffffff;
}

input[type="text"], input[type="email"], input[type="date"], input[type="file"] {
    padding: 4px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    width: 310px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005fc4;
} */



/* ---------- Frame Foto ---------- */

/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.gallery-item {
    background-color: #181818;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.gallery-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

.gallery-info {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

.gallery-item .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin-top: 10px;
    padding: 0 0px;
    width: 100%;
}

.img-detail {
    width : 100%;
    max-width : 800;
    border-radius: 8px;
} */



/* ---------- Button ---------- */

/* .btn-tambah {
    background-color: #28a745;
    color: #e0ffe0;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-tambah:hover {
    background-color: #28a746b6;
}

.btn-logout {
    background-color: #d9534f;
    color: #ffe0e0;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #d9544fb7;
}

.btn-detail, .btn-edit, .btn-delete {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

a.back {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: background-color 0.3s ease;
}

.btn-detail, a.back {
    background-color: #007bff;
    color: #e0eaff;
}

.btn-detail:hover, a.back:hover {
    background-color: #007bffb8;
}

.btn-edit {
    background-color: #28a745;
    color: #e0ffe0;
}

.btn-edit:hover {
    background-color: #28a746bc;
}

.btn-delete {
    background-color: #dc3545;
    color: #ffe0e0;
}

.btn-delete:hover {
    background-color: #dc3546af;
} */